package $mapperPackage;

#set($importPackage = $mybatisPackage + ".mapper.BaseMapper")
import $importPackage;
import $entityClassName;

public interface $mapperName extends BaseMapper<$entityName> {

}