package $servicePackage;

#set($importPackage = $mybatisPackage + ".service.BaseService")
import $importPackage;
import $entityClassName;

public interface $serviceName extends BaseService<$entityName> {

}
