<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lunar.system.mapper.DictEnumMapper">
    
    <resultMap id="DictEnumResult" type="com.lunar.system.entity.DictEnum">
        <result property="id"    column="id"    />
        <result property="dictSort"    column="dict_sort"    />
        <result property="dictLabel"    column="dict_label"    />
        <result property="dictValue"    column="dict_value"    />
        <result property="dictType"    column="dict_type"    />
        <result property="sourceType"    column="source_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="relatedValue"    column="related_value"    />
    </resultMap>

    <sql id="selectDictEnumVo">
        select id, dict_sort, dict_label, dict_value, dict_type, source_type, status, create_by, create_time, update_by, update_time, remark,related_value from sys_dict_enum
    </sql>

    <select id="selectDictEnumList" parameterType="DictEnum" resultMap="DictEnumResult">
        <include refid="selectDictEnumVo"/>
        <where>
            <if test="dictLabel != null  and dictLabel != ''"> and dict_label = #{dictLabel}</if>
            <if test="dictValue != null  and dictValue != ''"> and dict_value = #{dictValue}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            <if test="sourceType != null  and sourceType != ''"> and source_type = #{sourceType}</if>
            and status = '1'
        </where>
        order by dict_sort
    </select>
    
    <select id="selectDictEnumById" parameterType="Long" resultMap="DictEnumResult">
        <include refid="selectDictEnumVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDictEnum" parameterType="DictEnum" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dict_enum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictSort != null">dict_sort,</if>
            <if test="dictLabel != null">dict_label,</if>
            <if test="dictValue != null">dict_value,</if>
            <if test="dictType != null">dict_type,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="relatedValue != null">related_value,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictSort != null">#{dictSort},</if>
            <if test="dictLabel != null">#{dictLabel},</if>
            <if test="dictValue != null">#{dictValue},</if>
            <if test="dictType != null">#{dictType},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="relatedValue != null">#{relatedValue},</if>
         </trim>
    </insert>

    <update id="updateDictEnum" parameterType="DictEnum">
        update sys_dict_enum
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictSort != null">dict_sort = #{dictSort},</if>
            <if test="dictLabel != null">dict_label = #{dictLabel},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="relatedValue != null">related_value = #{relatedValue},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDictEnumById" parameterType="Long">
        update sys_dict_enum set status = '0' where id = #{id}
    </delete>

    <delete id="deleteDictEnumByIds" parameterType="String">
        update sys_dict_enum set status = '0' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryCount" resultType="int">
        select count(*) from sys_dict_enum u
        <where>
             status='1'
            <if test="dictLabel != null  and dictLabel != ''"> and dict_label = #{dictLabel}</if>
            <if test="dictValue != null  and dictValue != ''"> and dict_value = #{dictValue}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            <if test="sourceType != null  and sourceType != ''"> and source_type = #{sourceType}</if>
        </where>
    </select>

    <select id="selectDictEnumListByDictType" parameterType="String" resultMap="DictEnumResult">
        <include refid="selectDictEnumVo"/>
        where dict_type = #{dictType} and status='1'
        order by dict_sort
    </select>

    <select id="selectByDictValue" resultMap="DictEnumResult">
        <include refid="selectDictEnumVo"/>
        where dict_type = #{dictType} and dict_value = #{dictValue}
    </select>

    <select id="selectByDictTypeAndValue" resultMap="DictEnumResult">
    <include refid="selectDictEnumVo"/>
    where dict_type = #{dictType} and dict_value = #{dictValue} and status='1'
</select>

    <select id="selectByDictTypeAndLabelValue" resultMap="DictEnumResult">
        <include refid="selectDictEnumVo"/>
        where dict_type = #{dictType} and source_type = #{labelValue} and status='1'
    </select>

    <select id="selectDictEnumListBySource" parameterType="DictEnum" resultMap="DictEnumResult">
        <include refid="selectDictEnumVo"/>
        <where>
            <if test="dictLabel != null  and dictLabel != ''"> and dict_label like concat('%', #{dictLabel}, '%')</if>
            <if test="dictValue != null  and dictValue != ''"> and source_type = #{dictValue}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            and status = '1'
        </where>
        order by dict_sort
    </select>

    <select id="queryCountBySource" resultType="int">
        select count(*) from sys_dict_enum u
        <where>
            status='1'
            <if test="dictLabel != null  and dictLabel != ''"> and dict_label like concat('%', #{dictLabel}, '%')</if>
            <if test="dictValue != null  and dictValue != ''"> and source_type = #{dictValue}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
        </where>
    </select>

    <select id="queryDictEnums" resultType="string">
        SELECT group_concat(dict_label)
    FROM
	   sys_dict_enum
    WHERE
	   dict_type = #{dictType}
	  AND source_type IN ( SELECT source_type FROM c_dict_enum WHERE dict_type = #{dictType} AND dict_value = #{dictValue})
    </select>

    <select id="queryDictEnumInfo" resultMap="DictEnumResult">
        <include refid="selectDictEnumVo"/>
        <where>
            <if test="dictLabel != null  and dictLabel != ''"> and dict_label = #{dictLabel}</if>
            <if test="dictValue != null  and dictValue != ''"> and dict_value = #{dictValue}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            and status = '1'
        </where>
        order by dict_sort
    </select>

    <select id="findList" resultMap="DictEnumResult">
        select
        *
        from sys_dict_enum
        <include refid="findListSql"/>
        order by create_time asc
    </select>

    <select id="count" resultType="java.lang.Integer">
        select
        count(*)
        from sys_dict_enum
        <include refid="findListSql"/>
    </select>
    <sql id="findListSql">
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="dictType != null">
                and dict_type=#{dictType}
            </if>
            <if test="dictLabel != null">
                and dict_label=#{dictLabel}
            </if>
            <if test="dictValue != null">
                and dict_value=#{dictValue}
            </if>
            <if test="sourceType != null">
                and source_type=#{sourceType}
            </if>
            <if test="relatedValue != null">
                and related_value=#{relatedValue}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime}
            </if>
            <if test="idList != null and idList.size() > 0">
                and id in
                <foreach collection="idList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="likeDictLabel != null and likeDictLabel != ''">
                and dict_label like concat('%', #{likeDictLabel}, '%')
            </if>
            <if test="dictTypeList != null and dictTypeList.size() > 0">
                and dict_type in
                <foreach collection="dictTypeList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <resultMap id="DictEnumRespMap" type="com.lunar.system.response.DictEnumResp">
        <result property="id"    column="id"    />
        <result property="dictSort"    column="dict_sort"    />
        <result property="dictLabel"    column="dict_label"    />
        <result property="dictValue"    column="dict_value"    />
        <result property="dictType"    column="dict_type"    />
        <result property="sourceType"    column="source_type"    />
        <result property="relatedValue"    column="related_value"    />
    </resultMap>

    <select id="findDictEnumPage" resultMap="DictEnumRespMap">
        select
        *
        from sys_dict_enum
        <include refid="findListSql"/>
        order by create_time asc
    </select>
</mapper>