<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lunar.system.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.lunar.system.entity.Org">
    <id column="id" property="id"/>
    <result column="company_id" property="companyId"/>
    <result column="org_name" property="orgName"/>
    <result column="org_code" property="orgCode"/>
    <result column="org_abbr" property="orgAbbr"/>
    <result column="org_info" property="orgInfo"/>
    <result column="org_path" property="orgPath"/>
    <result column="pid" property="pid"/>
    <result column="org_type" property="orgType"/>
    <result column="deleted" property="deleted"/>
    <result column="create_by" property="createBy"/>
    <result column="update_by" property="updateBy"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into sys_org (
      id,
      company_id,
      org_name,
      org_code,
      org_abbr,
      org_info,
      org_path,
      pid,
      org_type,
      deleted,
      create_by,
      update_by,
      create_time,
      update_time)
    values (
      #{id},
      #{companyId},
      #{orgName},
      #{orgCode},
      #{orgAbbr},
      #{orgInfo},
      #{orgPath},
      #{pid},
      #{orgType},
      #{deleted},
      #{createBy},
      #{updateBy},
      #{createTime},
      #{updateTime})
  </insert>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="orgAbbr != null">
        org_abbr,
      </if>
      <if test="orgInfo != null">
        org_info,
      </if>
      <if test="orgPath != null">
        org_path,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="orgType != null">
        org_type,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="orgName != null">
        #{orgName},
      </if>
      <if test="orgCode != null">
        #{orgCode},
      </if>
      <if test="orgAbbr != null">
        #{orgAbbr},
      </if>
      <if test="orgInfo != null">
        #{orgInfo},
      </if>
      <if test="orgPath != null">
        #{orgPath},
      </if>
      <if test="pid != null">
        #{pid},
      </if>
      <if test="orgType != null">
        #{orgType},
      </if>
      <if test="deleted != null">
        #{deleted},
      </if>
      <if test="createBy != null">
        #{createBy},
      </if>
      <if test="updateBy != null">
        #{updateBy},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>

  <update id="updateSelective">
    update sys_org
    <set>
      <if test="companyId != null">
        company_id=#{companyId},
      </if>
      <if test="orgName != null">
        org_name=#{orgName},
      </if>
      <if test="orgCode != null">
        org_code=#{orgCode},
      </if>
      <if test="orgAbbr != null">
        org_abbr=#{orgAbbr},
      </if>
      <if test="orgInfo != null">
        org_info=#{orgInfo},
      </if>
      <if test="orgPath != null">
        org_path=#{orgPath},
      </if>
      <if test="pid != null">
        pid=#{pid},
      </if>
      <if test="orgType != null">
        org_type=#{orgType},
      </if>
      <if test="deleted != null">
        deleted=#{deleted},
      </if>
      <if test="createBy != null">
        create_by=#{createBy},
      </if>
      <if test="updateBy != null">
        update_by=#{updateBy},
      </if>
      <if test="createTime != null">
        create_time=#{createTime},
      </if>
    </set>
    where id=#{id}
  </update>

  <update id="update">
    update sys_org
    <set>
      company_id=#{companyId},
      org_name=#{orgName},
      org_code=#{orgCode},
      org_abbr=#{orgAbbr},
      org_info=#{orgInfo},
      org_path=#{orgPath},
      pid=#{pid},
      org_type=#{orgType},
      deleted=#{deleted},
      create_by=#{createBy},
      update_by=#{updateBy},
      create_time=#{createTime},
    </set>
    where id=#{id}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    select
    *
    from sys_org
    <include refid="findListSql"/>
    order by id desc
  </select>
  <select id="count" resultType="java.lang.Integer">
    select
    count(*)
    from sys_org
    <include refid="findListSql"/>
  </select>
  <sql id="findListSql">
    <where>
      <if test="id != null">
        and id=#{id}
      </if>
      <if test="companyId != null">
        and company_id=#{companyId}
      </if>
      <if test="orgName != null">
        and org_name=#{orgName}
      </if>
      <if test="orgCode != null">
        and org_code=#{orgCode}
      </if>
      <if test="orgAbbr != null">
        and org_abbr=#{orgAbbr}
      </if>
      <if test="orgInfo != null">
        and org_info=#{orgInfo}
      </if>
      <if test="orgPath != null">
        and org_path=#{orgPath}
      </if>
      <if test="pid != null">
        and pid=#{pid}
      </if>
      <if test="orgType != null">
        and org_type=#{orgType}
      </if>
      <if test="deleted != null">
        and deleted=#{deleted}
      </if>
      <if test="createBy != null">
        and create_by=#{createBy}
      </if>
      <if test="updateBy != null">
        and update_by=#{updateBy}
      </if>
      <if test="createTime != null">
        and create_time=#{createTime}
      </if>
      <if test="updateTime != null">
        and update_time=#{updateTime}
      </if>
      <if test="idList != null and idList.size() > 0">
        and id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="likeOrgName != null and likeOrgName != ''">
        and org_name like concat('%', #{likeOrgName}, '%')
      </if>
      <if test="likeOrgPath != null and likeOrgPath != ''">
        and org_path like concat(#{likeOrgPath}, '%')
      </if>
    </where>
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    *
    from sys_org
    where id=#{id}
  </select>

  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into sys_org (
        company_id,
        org_name,
        org_code,
        org_abbr,
        org_info,
        org_path,
        pid,
        org_type,
        deleted,
        create_by,
        update_by,
        create_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (
        #{item.companyId},
        #{item.orgName},
        #{item.orgCode},
        #{item.orgAbbr},
        #{item.orgInfo},
        #{item.orgPath},
        #{item.pid},
        #{item.orgType},
        #{item.deleted},
        #{item.createBy},
        #{item.updateBy},
        #{item.createTime}
    )
    </foreach>
  </insert>

  <delete id="deleteByPrimaryKey">
    delete
    from sys_org
    where id=#{id}
  </delete>

</mapper>