<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lunar.system.mapper.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.lunar.system.entity.RolePermission">
    <id column="id" property="id"/>
    <result column="role_id" property="roleId"/>
    <result column="permission_id" property="permissionId"/>
    <result column="option_type" property="optionType"/>
    <result column="create_by" property="createBy"/>
    <result column="create_time" property="createTime"/>
  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role_permission (
      id,
      role_id,
      permission_id,
      option_type,
      create_by,
      create_time)
    values (
      #{id},
      #{roleId},
      #{permissionId},
      #{optionType},
      #{createBy},
      #{createTime})
  </insert>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="optionType != null">
        option_type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="permissionId != null">
        #{permissionId},
      </if>
      <if test="optionType != null">
        #{optionType},
      </if>
      <if test="createBy != null">
        #{createBy},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
  </insert>

  <update id="updateSelective">
    update sys_role_permission
    <set>
      <if test="roleId != null">
        role_id=#{roleId},
      </if>
      <if test="permissionId != null">
        permission_id=#{permissionId},
      </if>
      <if test="optionType != null">
        option_type=#{optionType},
      </if>
      <if test="createBy != null">
        create_by=#{createBy},
      </if>
      <if test="createTime != null">
        create_time=#{createTime},
      </if>
    </set>
    where id=#{id}
  </update>

  <update id="update">
    update sys_role_permission
    <set>
      role_id=#{roleId},
      permission_id=#{permissionId},
      option_type=#{optionType},
      create_by=#{createBy},
      create_time=#{createTime},
    </set>
    where id=#{id}
  </update>

  <select id="findList" resultMap="BaseResultMap">
    select
    *
    from sys_role_permission
    <include refid="findListSql"/>
    order by id desc
  </select>
  <select id="count" resultType="java.lang.Integer">
    select
    count(*)
    from sys_role_permission
    <include refid="findListSql"/>
  </select>
  <sql id="findListSql">
    <where>
      <if test="id != null">
        and id=#{id}
      </if>
      <if test="roleId != null">
        and role_id=#{roleId}
      </if>
      <if test="permissionId != null">
        and permission_id=#{permissionId}
      </if>
      <if test="optionType != null">
        and option_type=#{optionType}
      </if>
      <if test="createBy != null">
        and create_by=#{createBy}
      </if>
      <if test="createTime != null">
        and create_time=#{createTime}
      </if>
      <if test="idList != null and idList.size() > 0">
        and id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
    </where>
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    *
    from sys_role_permission
    where id=#{id}
  </select>

  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role_permission (
        role_id,
        permission_id,
        option_type,
        create_by,
        create_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (
        #{item.roleId},
        #{item.permissionId},
        #{item.optionType},
        #{item.createBy},
        #{item.createTime}
    )
    </foreach>
  </insert>

  <delete id="deleteByPrimaryKey">
    delete
    from sys_role_permission
    where id=#{id}
  </delete>

  <delete id="deleteByRoleId">
    delete
    from sys_role_permission
    where role_id=#{roleId}
  </delete>

</mapper>